<h1>New Post</h1>

<%= live_render(
  @conn,
  PhoenixAutoSaveWeb.PostFormLive,
  session: %{
    "changeset" => @changeset,
    "action" => Routes.post_path(@conn, :update, @post),
    "post" => @post
  }
) %>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
